<div class="container">
  <div>
      <h3>Información Personal</h3>

      <form (ngSubmit)="onSubmit()" #nuevoForm="ngForm">      

        <div class="form-group">
          <label for="id_num">Cédula</label>
            <input type="number" class="form-control" id="id_num"
              required
              [(ngModel)]="paciente.id_num" name="id_num"
              #id_num="ngModel">
            <div [hidden]="id_num.valid || id_num.pristine"
              class="alert alert-danger">
              campo requerido
            </div>
        </div>

        <div class="form-group">
          <label for="name">Nombre</label>
          <input type="text" class="form-control" id="name"
                required
                [(ngModel)]="paciente.name" name="name"
                #name="ngModel">
          <div [hidden]="name.valid || name.pristine"
              class="alert alert-danger">
              campo requerido
          </div>
        </div>
        
        <div class="form-group">
          <label for="lastName">Apellido</label>
          <input type="text" class="form-control" id="lastName"
            required
            [(ngModel)]="paciente.lastName" name="lastName"
            #lastName="ngModel">
          <div [hidden]="lastName.valid || lastName.pristine"
            class="alert alert-danger">
            campo requerido
          </div>
        </div>

        <div class="form-group">
          <label for="phone">Teléfono</label>
            <input type="number" class="form-control" id="id_num"
              required
              [(ngModel)]="paciente.phone" name="phone"
              #phone="ngModel">
            <div [hidden]="phone.valid || phone.pristine"
              class="alert alert-danger">
              campo requerido
            </div>
        </div>

        <div class="form-group">
          <label for="city">Ciudad</label>
          <select class="form-control" id="city"
                  required
                  [(ngModel)]="paciente.city" name="city"
                  #city="ngModel">
            <option *ngFor="let cit of cities" [value]="cit">{{cit}}</option>
          </select>
          <div [hidden]="city.valid || city.pristine" class="alert alert-danger">
            campo requerido
          </div>
        </div>

        <div class="form-group">
          <label for="barrio">Barrio</label>
          <select class="form-control" id="barrio"
                  required
                  [(ngModel)]="paciente.barrio" name="barrio"
                  #barrio="ngModel">
            <option *ngFor="let barr of barrios" [value]="barr">{{barr}}</option>
          </select>
          <div [hidden]="barrio.valid || barrio.pristine" class="alert alert-danger">
            campo requerido
          </div>
        </div>

        <div class="form-group">
          <label for="address">Dirección</label>
          <input type="text" class="form-control" id="address"
            required
            [(ngModel)]="paciente.address" name="address"
            #address="ngModel">
          <div [hidden]="address.valid || address.pristine"
            class="alert alert-danger">
            campo requerido
           </div>
        </div>

        <div class="form-group">
          <label for="sex">Sexo: </label>
          <input type="radio" value="masc" name="sex" [(ngModel)]="paciente.sex"> M 
          <input type="radio" value="fem" name="sex" [(ngModel)]="paciente.sex"> F 
          <input type="radio" value="N/E" name="sex" [(ngModel)]="paciente.sex"> No especifica 
        </div>

        <div class="form-group">
          <label for="id_num">Fecha de Nacimiento</label>
          <input type="date" class="form-control" id="birthday"
            required
            [(ngModel)]="paciente.birthday" name="birthday"
            #birthday="ngModel">
            <div [hidden]="birthday.valid || birthday.pristine"
              class="alert alert-danger">
              campo requerido
            </div>
        </div>

        <div class="form-group">
          <label for="marital">Estado Civil</label>
          <select class="form-control" id="marital"
                  required
                  [(ngModel)]="paciente.marital" name="marital"
                  #marital="ngModel">
            <option *ngFor="let marit of maritals" [value]="marit">{{marit}}</option>
          </select>
          <div [hidden]="marital.valid || marital.pristine" class="alert alert-danger">
            campo requerido
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" name="email" class="form-control"
                 required minlength="5" email
                 [(ngModel)]="paciente.email" #email="ngModel" >
          <div *ngIf="email.invalid && (email.dirty || email.touched)"
               class="alert alert-danger">
            <div *ngIf="email.errors.required">
              campo requerido
            </div>
            <!-- <div *ngIf="email.errors.minlength">
              email must be at least 5 characters long.
            </div> -->
            <div *ngIf="email.errors.email">
              correo no válido
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="marketing">Nos conoce por</label>
          <select class="form-control" id="marketing"
                  required
                  [(ngModel)]="paciente.marketing" name="marketing"
                  #marketing="ngModel">
            <option *ngFor="let mark of marketings" [value]="mark">{{mark}}</option>
          </select>
          <div [hidden]="marketing.valid || marketing.pristine" class="alert alert-danger">
            campo requerido
          </div>
        </div>

        <button type="submit" class="btn btn-success" [disabled]="!nuevoForm.form.valid">Submit</button>

      </form>
  </div>
</div>